.MessageForm {
	position: relative;
	z-index: 1;
	background: #ffffff;
	max-width: 360px;
	/* margin: 0 auto 100px; */
	padding: 10px 45px;
	/* text-align: center; */
	/* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}
.MessageForm input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.MessageForm button {
	text-transform: uppercase;
	outline: 0;
	background: #4caf50;
	width: 100%;
	border: 0;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
.MessageForm button:hover,
.MessageForm button:active,
.MessageForm button:focus {
	background: #43a047;
}
.MessageForm .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}
.MessageForm .message a {
	color: #4caf50;
	text-decoration: none;
}

.MessageList  span {
	display: inline-block;
    width: 60px;
    text-align: right;
}
